* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body1{
    /*background-color: rgb(235, 235, 216);*/
    background-color: black;
}

.body2{
    background-color: rgb(235, 235, 216);
}

.font{
    color: white;
}

.container {
    margin: 80px 50px 50px 50px;
}

/*
footer{
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: #828282;
}
*/
/*
.intro{
    background: url(../imagens/inicio.jpg) center center fixed;
    background-size: cover;
    padding: 220px 0;
    margin-top: 40px;
    left: 0;
    right: 0;
}*/

.intro{
    background: black;
}

.footer {
    background: url(../imagens/rodape.jpg) center center fixed;
    background-size: cover;
    color: white;
    padding: 100px;
    text-align: center;
}